# Dependency directories
node_modules/
jspm_packages/

# Local databases (NeDB local files)
*.db

# Environment variables
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*